extends templates/template
append config
  -paginaActual = "contacto"
  -titulo = "Contacto"
block banner
  img.img(src="img/productos/nueva/magnum17.jpg")
block main
  script(src='js/contacto.js')
  h1.title-page Aire Acondicionado de Occidente S.A de C.V.
  .ed-container.contacto#contacto
    .ed-item.web-40.no-padding
      h2
        span G
        | uadalajara
      p.adress-contacto Colon 850, Colonia Moderna,
        <br> Guadalajara, Jalisco
      .datos
        p.phone-title Telefonos:
        .box-container
          .box-item
            p.phone-city.medios Guadalajara
          .box-item
            ul.tel
              li: a.telefono(href="tel://38558121") (33) 38 55 81 21
              li: a.telefono(href="tel://36133718") (33) 36 13 37 18
              li: a.telefono(href="tel://36193188") (33) 36 19 31 88
              li: a.telefono(href="tel://36582338") (33) 36 58 23 38
        .box-container
          .box-item
            p.phone-city.medios Leon
          .box-item
            ul.tel
              li: a.telefono(href="tel://4771675008") (477) 167 50 08
              li: a.telefono(href="tel://4771675009") (477) 167 50 09
        .box-container
          .box-item
            p.phone-city.medios Queretaro
          .box-item
            ul.tel
              li: a.telefono(href="tel://4429800788") (442) 980 07 88
        //- p.phone-city.medios Email:
        .box-container.bc-email
          .box-item
            p.phone-city Email:
          .box-item
            ul.tel
              li: a(href="mailto:formulario@aadoccsa.com.mx") formulario@aadoccsa.com.mx
      .mapa
        a.inline(href="mapas/gdl.html" title="Av. Colon 850, Colonia Moderna")
          img(src="img/mapa.jpg")
    .ed-item.web-60.no-padding.formulario
      h2
        span F
        | ormulario de Contacto
      form#formulario(name='formulario', method='post', action='http://aadoccsa.com.mx/envio1.php', target='_self', enctype='multipart/form-data')
        ul
          li
            label  * Nombre:
            input#nombre.constyles(type='text', name='nombre', autofocus='', required='')
          li
            label  * Teléfono:
            input#telefono.constyles(type='number', name='telefono', required='')
          li
            label  * Email:
            input#email.constyles(type='email', name='email', required='')
          li
            label  * Mensaje:
            textarea#mensaje.constyles1(name='mensaje', required='')
          p.co * Campos Obligatorios
          button(type="submit").btn Enviar
