nav{
  width: 100%;
  margin-top: 1.5em;
  padding: 1em;
  $border: 1px solid rgba($blanco,.3);
  border-top: $bordes;
  border-bottom: $bordes;
}
.icon-menu{
  background: $azul-oscuro;
  font-size: 2em;
  line-height: 3em;
  height: 1.5em;
  color: $blanco;
  cursor: pointer;
  &:before{
    top: .25em;

  }
}
.ed-menu{
  width: 100%;
  background: $azul1;
  @include desde(web){
    background:transparent;
  }
  @include hasta(web){
    display: none;
  }
  li{
    transition: all .3s;
    &:hover{
      background: darken($azul1,10) !important;
      @include desde(web){
        background: rgba($azul1,0) !important;

      }
    }
  }
  a{
    color: $blanco!important;
    text-transform: capitalize;
    font-family: $passion;
    font-size: 1.3em;
    transition: all .3s;
    line-height: 2em !important;
    @include desde(web){
      line-height: 1.5em !important;
    }
    &:hover{
      @include desde(web){
        color: $color-menu-hover!important;

      }
    }
  }
}
.selected{
  color: $azul-oscuro !important;
  font-size: 100px;
}