.ed-container
    .ed-item.web-85.adress-container.desde-web.city-phone.gdl#aside-gdl
        ul.adress
            li Aire Acondicionado de Occidente S.A de C.V.
            li
                span Domicilio:
                | Colon 850, Colonia Moderna, Guadalajara, Jalisco
            li
                span Teléfonos:
                | (33) 38 55 81 21 / (33) 36 13 37 18 / (33) 36 19 31 88 / (33) 36 58 23 38
            li
                span E-mail:
                a(href="mailto:formulario@aadoccsa.com.mx") formulario@aadoccsa.com.mx
    .ed-item.web-85.adress-container.desde-web.city-phone.qrt#aside-qrt
        ul.adress
            li Aire Acondicionado de Occidente S.A de C.V.
            li
                span Domicilio:
                | Atta micro parque industrial, Carretera estatal 500 A chichimequillas Ejido tierra blanca
            li.phone
                span Teléfono:
                | (442) 980 07 88
            li
                span E-mail:
                a(href="mailto:formulario@aadoccsa.com.mx") formulario@aadoccsa.com.mx
    .ed-item.web-85.adress-container.desde-web.city-phone.leon
        ul.adress
            li Aire Acondicionado de Occidente S.A de C.V.
            li
                span Domicilio:
                | Boulevard Juan José torres Landa 5306 local 5 Col. Jardines de Jerez
            li
                span Teléfonos:
                | (477) 167 50 08 / (477) 167 50 09
            li
                span E-mail:
                a(href="mailto:formulario@aadoccsa.com.mx") formulario@aadoccsa.com.mx
    .ed-item.web-10.redes-container
        ul.redes
            li: a.icon-facebook(href="https://www.facebook.com/aireacondicionado.aadoccsa", target="_blank")
